@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser<int>> SignInManager
@inject UserManager<IdentityUser<int>> UserManager

<ul class="navbar-nav m-2 p-0">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item my-auto">
        <a class="btn btn-outline-info me-2" asp-area="Identity" asp-controller="Logout" asp-action="LogOut">Logout</a>
    </li>
}
else
{
    <li class="nav-item m-2">
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle m-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Register
            </button>
            <ul class="dropdown-menu">
                <li><a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-controller="AuthAdmin" asp-action="Register">Admin</a></li>
                <li><a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-controller="AuthCustomer" asp-action="Register">Customer</a></li>
                <li><a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-controller="AuthSalesMan" asp-action="Register">SalesMan</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item m-2">
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle m-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
            </button>
            <ul class="dropdown-menu">
                    <li><a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-controller="AuthAdmin" asp-action="Login">Admin</a></li>
                    <li><a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-controller="AuthCustomer" asp-action="Login">Customer</a></li>
                    <li><a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-controller="AuthSalesMan" asp-action="Login">SalesMan</a></li>
            </ul>
        </div>
    </li>
}
</ul>
