@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser<int>> SignInManager
@inject UserManager<IdentityUser<int>> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <div> Hello @User.Identity.Name !</div>
        @*<a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>*@
    </li>
    <li class="nav-item">
        <a class="btn btn-outline-info" asp-area="Identity" asp-controller="Logout" asp-action="LogOut"></a>
    </li>
}
else
{
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Register
            </button>
            <ul class="dropdown-menu">
                <li><a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-controller="AuthAdmin" asp-action="Register">Admin</a></li>
                <li><a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-controller="AuthCustomer" asp-action="Register">Customer</a></li>
                <li><a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-controller="AuthSalesMan" asp-action="Register">SalesMan</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
            </button>
            <ul class="dropdown-menu">
                    <li><a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-controller="AuthAdmin" asp-action="Login">Admin</a></li>
                    <li><a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-controller="AuthCustomer" asp-action="Login">Customer</a></li>
                    <li><a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-controller="AuthSalesMan" asp-action="Login">SalesMan</a></li>
            </ul>
        </div>
    </li>
}
</ul>
