@model List<App.Domain.Core.Entities.Customer>
@{
}

<div class="container">
    <div class="row">
        <h1 class="text-center text-white m-4">خریداران</h1>
        @foreach (var item in Model)
        {
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.UserName</h5>
                    <h6 class="card-subtitle mb-2 text-white-50">ساخته شده در @item.RegisterDate</h6>
                    <a class="btn btn-outline-success" asp-area="Admin" asp-controller="Admin" asp-action="EditCustomer" asp-route-customerId="@item.Id">ویرایش</a>
                    <a class="btn btn-outline-danger" asp-area="Admin" asp-controller="Admin" asp-action="DeleteCustomer" asp-route-customerId="@item.Id">حذف</a>
                </div>
            </div>
        }
    </div>
</div>