@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- BEGIN LOEADING -->
<div id="loader">
    <div class="spinner"></div>
</div><!-- /loader -->
<!-- END LOEADING -->

<!-- BEGIN WRAPPER -->
<div class="fixed-modal-bg"></div>
<a href="#" class="btn btn-info btn-icon btn-round btn-lg" id="toggle-dark-mode">
    <i class="icon-bulb"></i>
</a>
<div class="modal-page shadow">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="logo-con m-t-10 m-b-10">
                    <img src="~/assets/images/logo.png" class="center-block img-responsive">
                </div><!-- /.logo-con -->

                <hr>

                <p class="text-center m-t-40">
                    <i class="icon-shield border img-circle font-xxxlg p-20"></i>
                </p>
                <h1 class="page-error m-t-30">
                    <sup>خطای</sup>
                    404
                </h1>
                <p class="text-center font-lg m-b-20">صفحه مورد نظر شما یافت نشد.</p>
                <form role="form">
                    <div class="form-body">
                        <div class="input-group round">
                            <input type="text" class="form-control" placeholder="جستجو به شما کمک می کند...">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button">
                                    <i class="icon-magnifier"></i>
                                </button>
                            </span>
                        </div><!-- ./input-group -->
                    </div><!-- /.form-body -->
                </form>

                <hr class="m-b-30 m-t-30">
                <a href="dashboard.html" class="btn btn-default btn-round btn-block">
                    بازگشت
                    <i class="icon-arrow-left font-lg"></i>
                </a>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div><!-- /.modal-page -->
<!-- END WRAPPER -->

<!-- BEGIN JS -->