@{
}

<div class="container">
    <div class="row">
        <h2 class="text-center m-4">Booth</h2>

        @foreach (var item in ViewBag.Booths)
        {
                <div class="card m-2" style="width: 15%;">
                    <img src="@item.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text" >@item.Description</p>
                        <a asp-controller="Home" asp-action="BoothDetail" asp-route-boothId="@item.Id" class="btn btn-outline-success">Go to booth</a>
                    </div>
                </div>
        }
    </div>
</div>