<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="fontiran.com:license" content="NE29X">
    <title>@ViewData["Title"] - Market_Place</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="shortcut icon" href="~/assets/images/favicon.png">

    <!-- BEGIN CSS -->
    <link href="~/assets/plugins/bootstrap/bootstrap5/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link href="~/assets/plugins/simple-line-icons/css/simple-line-icons.min.css" rel="stylesheet">
    <link href="~/assets/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="~/assets/plugins/paper-ripple/dist/paper-ripple.min.css" rel="stylesheet">
    <link href="~/assets/plugins/iCheck/skins/square/_all.css" rel="stylesheet">
    <link href="~/assets/plugins/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="~/assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="~/assets/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="~/assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="~/assets/plugins/morris.js/morris.css" rel="stylesheet">
    <link href="~/assets/plugins/kamadatepicker/kamadatepicker.min.css" rel="stylesheet">
    <link href="~/assets/css/effects.css" rel="stylesheet">
    <link href="~/assets/css/yekan.css" rel="stylesheet">
@*    <link href="~/assets/css/modiran.css" rel="stylesheet">
    <link href="~/assets/css/parastoo.css" rel="stylesheet">
*@    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/colors.css" rel="stylesheet">
    <!-- END PAGE CSS -->


</head>
<body class="active-ripple theme-blue fix-header sidebar-extra dark">
    <div id="loader">
    <div class="spinner"></div>
</div><!-- /loader -->
<!-- END LOEADING -->
<!-- BEGIN HEADER -->
<div class="navbar navbar-fixed-top" id="main-navbar">
<div class="header-right">
    <a asp-area="Admin" asp-controller="Admin" asp-action="Dashboard" class="logo-con">
        <img src="~/assets/images/logo.png" class="img-responsive center-block" alt="لوگو قالب مدیران">
    </a>
</div><!-- /.header-right -->
<div class="header-left">
<div class="top-bar">
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#" class="btn" id="toggle-sidebar">
            <span class="menu"></span>
        </a>
    </li>
    <li>
        <a href="#" class="btn open" id="toggle-sidebar-top">
            <i class="icon-user-following"></i>
        </a>
    </li>
    <li>
        <a href="#" class="btn" id="toggle-dark-mode">
            <i class="icon-bulb"></i>
        </a>
    </li>
</ul>
<ul class="nav navbar-nav navbar-left">
<li class="dropdown">
    <a href="#" class="btn" id="toggle-fullscreen">
        <i class="icon-size-fullscreen"></i>
    </a>
</li>
<li class="dropdown dropdown-messages">
    <a href="#" class="dropdown-toggle btn" data-bs-toggle="dropdown">
        <i class="icon-envelope"></i>
        <span class="badge badge-primary">
            4
        </span>
    </a>
    <ul class="dropdown-menu has-scrollbar">
        <li class="dropdown-header clearfix">
            <span class="float-start">
                <a href="#" rel="tooltip" title="خواندن همه" data-placement="left">
                    <i class="icon-eye"></i>
                </a>
                شما 4 پیام تازه دارید.
            </span>
        </li>
        <li class="dropdown-body">
            <ul class="dropdown-menu-list">
                <li class="clearfix">
                    <a href="#">
                        <p class="clearfix">
                            <strong class="float-start">
                                <img src="~/assets/images/user/32.png" class="img-circle" alt="">
                                سهراب سپهری
                            </strong>
                            <small class="float-end text-muted">
                                <i class="icon-clock"></i>
                                پانزده دقیقه پیش
                            </small>
                        </p>
                        <p>پیام پرمهرتان دریافت شد!</p>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="#">
                        <p class="clearfix">
                            <strong class="float-start">
                                <img src="~/assets/images/user/32.png" class="img-circle" alt="">
                                شفیعی کدکنی
                            </strong>
                            <small class="float-end text-muted">
                                <i class="icon-clock"></i>
                                سی دقیقه پیش
                            </small>
                        </p>
                        <p>بسته ارسالی شما به دستم رسید.</p>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="#">
                        <p class="clearfix">
                            <strong class="float-start">
                                <img src="~/assets/images/user/32.png" class="img-circle" alt="">
                                قیصر امین پور
                            </strong>
                            <small class="float-end text-muted">
                                <i class="icon-clock"></i>
                                یک ساعت پیش
                            </small>
                        </p>
                        <p>مجموعه آثار بنده را ببینید.</p>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="#">
                        <p class="clearfix">
                            <strong class="float-start">
                                <img src="~/assets/images/user/32.png" class="img-circle" alt="">
                                مهدی اخوان ثالث
                            </strong>
                            <small class="float-end text-muted">
                                <i class="icon-clock"></i>
                                دو ساعت پیش
                            </small>
                        </p>
                        <p>با تشکر...</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown-footer clearfix">
            <a href="#">
                <i class="icon-list fa-flip-horizontal"></i>
                مشاهده همه پیام ها
            </a>
        </li>
    </ul>
</li>
<li class="dropdown dropdown-announces">
    <a href="#" class="dropdown-toggle btn" data-bs-toggle="dropdown">
        <i class="icon-bell"></i>
        <span class="badge badge-warning">
            5
        </span>
    </a>
    <ul class="dropdown-menu has-scrollbar">
        <li class="dropdown-header clearfix">
            <span class="float-start">
                <a href="#" rel="tooltip" title="خواندن همه" data-placement="left">
                    <i class="icon-eye"></i>
                </a>
                <span>
                    شما 8 اعلان تازه دارید.
                </span>
            </span>

        </li>
        <li class="dropdown-body">
            <ul class="dropdown-menu-list">
                <li class="clearfix">
                    <a href="#">
                        <p class="clearfix">
                            <strong class="float-start">عباس دوران</strong>
                            <small class="float-end text-muted">
                                <i class="icon-clock"></i>
                                21:30
                            </small>
                        </p>
                        <p>بسته ارسالی شما به دستم رسید.</p>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="#">
                        <p class="clearfix">
                            <strong class="float-start">حسن باقری</strong>
                            <small class="float-end text-muted">
                                <i class="icon-clock"></i>
                                20:20
                            </small>
                        </p>
                        <p>از محبت شما ممنونم.</p>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="#">
                        <p class="clearfix">
                            <strong class="float-start">مدیر کل</strong>
                            <small class="float-end text-muted">
                                <i class="icon-clock"></i>
                                19:20
                            </small>
                        </p>
                        <p>سفارش شما ارسال گردید..</p>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="#">
                        <p class="clearfix">
                            <strong class="float-start">مدیر مالی</strong>
                            <small class="float-end text-muted">
                                <i class="icon-clock"></i>
                                17:40
                            </small>
                        </p>
                        <p>درخواست فیش حقوقی</p>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="#">
                        <p class="clearfix">
                            <strong class="float-start">ابراهیم همت</strong>
                            <small class="float-end text-muted">
                                <i class="icon-clock"></i>
                                15:45
                            </small>
                        </p>
                        <p>پیام های مرا دنبال کنید.</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown-footer clearfix">
            <a href="#">
                <i class="icon-list fa-flip-horizontal"></i>
                مشاهده همه اعلانات
            </a>
        </li>
    </ul>
</li>

<li class="dropdown dropdown-user">
    <a href="#" class="dropdown-toggle dropdown-hover" data-bs-toggle="dropdown">
        <img src="~/assets/images/user/48.png" alt="عکس پرفایل" class="img-circle img-responsive">
        <span>@ViewBag.User.UserName</span>
        <i class="icon-arrow-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="edit_profile.html">
                <i class="icon-note"></i>
                ویرایش پروفایل
            </a>
        </li>
        <li>
            <a href="change_password.html">
                <i class="icon-key"></i>
                تغییر رمز عبور
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="chat.html">
                <span class="badge badge-primary float-end"> 14 </span>
                <i class="icon-envelope"></i>
                تیکت های جدید
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-wallet"></i>
                کیف پول
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="login.html">
                <i class="icon-power"></i>
                خروج
            </a>
        </li>
    </ul>
</li>
</ul><!-- /.navbar-left -->
</div><!-- /.top-bar -->
</div><!-- /.header-left -->
</div><!-- /.navbar -->
<!-- END HEADER -->

@RenderBody()

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Market_Place - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<!-- BEGIN JS -->
<script src="~/assets/plugins/jquery/dist/jquery-3.6.1.min.js"></script>
<script src="~/assets/plugins/jquery-migrate/jquery-migrate-1.2.1.min.js"></script>
<script src="~/assets/plugins/bootstrap/bootstrap5/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/plugins/paper-ripple/dist/PaperRipple.min.js"></script>
<script src="~/assets/plugins/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="~/assets/plugins/iCheck/icheck.min.js"></script>
<script src="~/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/assets/plugins/jquery-validation/src/localization/messages_fa.js"></script>
<script src="~/assets/js/core.js"></script>
<script src="~/assets/plugins/metisMenu/dist/metisMenu.min.js"></script>
<script src="~/assets/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/assets/plugins/screenfull/dist/screenfull.min.js"></script>
<script src="~/assets/plugins/switchery/dist/switchery.js"></script>
<script src="~/assets/js/pages/change-password.js"></script>
<script src="~/assets/js/pages/login.js"></script>
<script src="~/assets/js/pages/login.js"></script>
<script src="~/assets/js/pages/register.js"></script>
<script src="~/assets/plugins/raphael/raphael.min.js"></script>
<script src="~/assets/plugins/morris.js/morris.min.js"></script>
<script src="~/assets/plugins/jquery-incremental-counter/jquery.incremental-counter.min.js"></script>
<script src="~/assets/plugins/ammap3/ammap/ammap.js"></script>
<script src="~/assets/plugins/ammap3/ammap/maps/js/iranHighFa.js"></script>
<script src="~/assets/plugins/kamadatepicker/kamadatepicker.min.js"></script>
<script src="~/assets/plugins/jquery-knob/dist/jquery.knob.min.js"></script>
<script src="~/assets/js/pages/Dashboard1.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>