@model LoginViewModel
@{
    ViewData["Title"] = "Login Admin";
}



<!-- BEGIN LOEADING -->
<div id="loader">
    <div class="spinner"></div>
</div><!-- /loader -->
<!-- END LOEADING -->

<!-- BEGIN WRAPPER -->
<div class="fixed-modal-bg"></div>
<a href="#" class="btn btn-info btn-icon btn-round btn-lg" id="toggle-dark-mode">
    <i class="icon-bulb"></i>
</a>
<div class="modal-page shadow">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="logo-con m-t-10 m-b-10">
                    <img src="~/assets/images/logo-dark.png" class="dark-logo center-block img-responsive" alt="logo">
                    <img src="~/assets/images/logo.png" class="light-logo center-block img-responsive" alt="logo">
                </div><!-- /.logo-con -->

                <h2 class="text-center m-b-20">وارد شوید</h2>
                <hr>
                <div asp-validation-summary="All"></div>
                <form id="form" class="m-t-30 m-b-30" asp-area="Identity" asp-controller="AuthAdmin" asp-action="Login" method="POST" role="form">
                    <div class="form-group">
                        <label asp-for="UserName" class="sr-only"></label>
                        <div class="input-group round">
                            <span class="input-group-addon">
                                <i class="icon-envelope"></i>
                            </span>
                            <input asp-for="UserName" id="username" class="form-control ltr text-left" type="text" required>
                        </div><!-- /.input-group -->
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label asp-for="Password" class="sr-only"></label>
                        <div class="input-group round">
                            <span class="input-group-addon">
                                <i class="icon-key"></i>
                            </span>
                            <input asp-for="Password" id="password" class="form-control ltr text-left" type="password" minlength="5" required>
                        </div><!-- /.input-group -->
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label asp-for="RememberMe" class="sr-only"></label>
                        <div class="input-group round">
                            <span class="input-group-addon">
                                <i class="icon-key"></i>
                            </span>
                            <input asp-for="RememberMe" class="form-control ltr text-left" type="checkbox">
                        </div><!-- /.input-group -->
                    </div><!-- /.form-group -->
                    <p>
                        <button class="btn btn-info btn-round btn-block" type="submit">
                            <i class="icon-paper-plane font-lg"></i>
                            ورود
                        </button>
                    </p>
                </form>
                <hr class="m-b-30">
                @*<a href="forget.html" class="btn btn-default btn-round btn-block m-b-10">
                    <i class="icon-refresh font-lg"></i>
                    بازیابی رمز عبور
                </a>*@
                <a href="/Identity/AuthAdmin/Register" class="btn btn-default btn-round btn-block">
                    <i class="icon-user-follow font-lg"></i>
                    حساب ندارید، ثبت نام کنید!
                </a>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div><!-- /.modal-page -->